@import "core/vars";
@import "core/helper";

body {
    background: lighten(#8E54E9, 35%);
}

a {
    color: #4776E6;

    &:hover, &:focus {
        color: darken(#4776E6, 15%);
    }
}

.btn-primary {
    background: linear-gradient(to right, #8E54E9, #4776E6) !important;
    border: none;
    border-radius: 10px !important;
}

.form-wrapper {
    display: flex;
    align-items: center;
}

.card {
    border: none;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;

    .row {
        .col {
            padding: 30px;
            min-height: 500px;

            &:last-child {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                text-align: center;
                background-size: cover !important;
                background-position: center !important;
                position: relative;

                & > * {
                    position: relative;
                    z-index: 1;
                }

                &:before {
                    content: '';
                    display: block;
                    background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.54));
                    position: absolute;
                    right: 0;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }
    }
}

.form-group {
    margin-bottom: 20px;

    .form-icon-wrapper {
        position: relative;

        .form-icon-left, .form-icon-right {
            padding: 0;
            transform: translateY(-50%);
            top: 50%;
            font-size: 20px;
            border: none;
            position: absolute;
            z-index: 4;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(to right, #8E54E9, #4776E6);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: white;
            border-radius: 100px;
        }

        .form-icon-left {
            left: 15px;
        }

        .form-icon-right {
            right: 15px;
            left: auto;
        }
    }
}

.form-control {
    height: auto;
    padding: 13px 20px;
    padding-left: 55px;
    border: 1px solid darken(white, 20%);
    border-radius: 10px !important;

    &:focus {
        box-shadow: none;
        border-color: #673ab7;
    }
}

.form-shape {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    width: 60%;
    height: 100vh;
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    clip-path: polygon(0% 100%, 0 0, 100% 0, 70% 100%);
}

.social-links {
    display: block;

    a {
        flex: 1;
        display: flex;
        align-items: center;
        transition: all .3s;
        color: black;
        margin-bottom: 15px;
        border-radius: 10px;
        border: 1px solid darken(white, 20%);
        padding: 2px;
        padding-right: 20px;

        i {
            width: 40px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            height: 40px;
            border-radius: 10px;
            margin-right: 15px;
        }

        &:hover, &:focus {
            text-decoration: none;
            border-color: #4776E6;
        }
    }
}
