@import "core/vars";
@import "core/helper";

html, body {
	background: #0052D4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-attachment: fixed;
}

.logo {
	text-align: center;
}


a {
	color: #0052D4;

	&:hover, &:focus {
		color: darken(#0052D4, 15%);
	}
}

.btn-primary {
	background: rgba(white, .6);
	color: black;
	border: none;
	border-radius: 0 !important;

	&:hover, &:focus, &:active {
		background: white !important;
		color: black !important;
	}
}

.custom-control-input:checked ~ .custom-control-label::before {
	background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4) !important;
	border: none;
}

.form-wrapper {
	display: flex;
	align-items: center;

	.container {
		min-height: 100%;
	}
}

.card {
	border: none;
	border-radius: 0;
	background: rgba(white, .7);

	.card-body {
		padding: 50px 30px;
	}
}

.form-group {
	margin-bottom: 20px;

	.form-icon-wrapper {
		position: relative;

		.form-icon-left, .form-icon-right {
			padding: 0;
			transform: translateY(-50%);
			top: 50%;
			font-size: 16px;
			border: none;
			position: absolute;
			z-index: 4;
			background: none;
			transition: opacity .3s;
			color: black;
		}

		.form-icon-left {
			left: 15px;
		}

		.form-icon-right {
			right: 15px;
			left: auto;
		}
	}
}

.form-control {
	height: auto;
	padding: 13px 20px;
	padding-left: 45px;
	border: none;
	background: rgba(white, .5);
	border-radius: 0 !important;

	&:focus {
		box-shadow: none;
		background: white;
	}
}

.input-group {
	position: relative;

	.input-group-text {
		padding: 0;
		transform: translateY(-50%);
		top: 50%;
		left: 15px;
		background: red;
		border: none;
		position: absolute;
		z-index: 4;
		background: none;
	}
}

.social-links {
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 20px;
		color: white;
		margin-bottom: 10px;
		transition: all .3s;
		position: relative;

		i {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			padding: 0 20px;
			background: rgba(white, .2);
			display: flex;
			align-items: center;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover, &:focus {
			opacity: .9;
			text-decoration: none;
		}
	}
}

// Mobile compatibility settings

@media (max-width: 500px) {
	.social-links a i {
		padding: 0 10px !important;
	}
}
